.headerContainer {
  background-color: #222;
  -webkit-text-fill-color: #ff9800;
  height: 60px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.headerContainer a {
  color: #ff9800;
}
